
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <% var year = new Date().getFullYear()%> 
    <p><%= year %> Ⓡ Made with 💚 by Ignacio Jimenez.</p>
  </div>
</div>
</body>
</html>
