<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The JavaScript Corner</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com"> <!-- Google Fonts: Montserrat, Mono Display. -->
  <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:wght@400;500&display=swap&family=Bungee" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/home.css">

  
    <div class="nav navbar-default">
      <div class="container">
      <div class="nav">
       <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="navbar-header">
            <p class="navbar-brand"><a href="/">JS corner</a></p>
          </div>
        </div>
        
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links navbar-nav">
          <a href="/">HOME</a>
          <a href="/challenges">CODE</a>
          <a href="/about">ABOUT</a>
        </div>
      </div>
     </div>
   </div>
  <body>
    <div class="container dinamic-container">
