<%- include('partials/header'); -%>
<h1>Why JS CORNER?</h1>
<h2>The JS challenges record</h2>
<img class="about-pic" src="img/about-pic.jpg" alt="coding challenge">
<p>Plain and simple: I created this blog to keep record of all JavaScript challenges I do.</p>

<p>Code challenges help you build problem-solving skills, better understand the programming language you use, and get to know algorithms you may not be familiar with. If you want to improve your skills in programming, there's no better way than by writing code. In addition, coding challenges are convenient because they allow you to exercise your skills on a bite-sized problem and rarely require you to build a complete application, so you can usually complete them rather quickly.

  Code challenges are also part of most coding interviews. Hiring managers may see the skills listed on your resume, and you may be able to talk like a programmer, but they also want to know that you can write code. By having you solve a coding challenge, they can assess your skills and be sure you can do the job. So working on coding challenges will also help you prepare for job interviews. We’ve collected 20 popular code challenges to get you started.</p>
<%- include('partials/footer'); -%>
