<%- include('partials/header'); -%>
<div class="about-container">
    <h1>Why JS corner?</h1>
    <h3>The JavaScript coding-challenge library</h3>
    <img class="about-img" src="img/about-pic.jpg" alt="coding challenge">
    <p>Plain and simple: I created this blog to keep record of <b>all the JavaScript coding challenges I do.</b></p>

    <p>Code challenges help building problem-solving skills and better understand JavaScript. If improving your skills in JavaScript is what you really 
       want, there's no better way than by writing code. In addition, coding 
       challenges are convenient because they allow you to exercise your skills on a bite-sized problem and rarely require you to build a complete 
       application, so you can usually complete them rather quickly. </p>
    <p>Code challenges are also part of most coding interviews. Hiring managers may see 
       the skills listed on your resume, and you may be able to talk like a programmer, but they also want to know that you can write code. By having 
       you solve a coding challenge, they can assess your skills and be sure you can do the job. So working on coding challenges will also help you 
       prepare for job interviews. Here I have collected (and keep collecting) several coding challenges that I face and how to solve them!</p>
</div>
<%- include('partials/footer'); -%>
