
<%- include('partials/header'); -%>

<h1>Welcome to my Blog!</h1>
<h2>See the best posts related to JavaScript coding challenges</h2>
<hr>
<h2>What's new?</h2>
<section class="welcome-challenge">
  <img class="blog-img" src="img/challenge.jpg" alt="hands typing on a PC with a lot of code in the screen">
  <h2>Ready for a challenge?</h2>
  <p class="challenge-date">30 Oct 2021</p>
  <p>Solving code challenges is the best practice method to become a top programmer. Find out about new JavaScript coding challenges here</p>
  <a class="btn btn-success" href="/challenges">Go to challenges</a>
</section>
<hr>
<section class="welcome-challenge">
  <img class="blog-img" src="img/fibonacci.jpg" alt="hands typing on a PC with a lot of code in the screen">
  <h2>The Fibonacci algorithm</h2>
  <p class="challenge-date">18 Oct 2021</p>
  <p>what's the real story behind this famous sequence? Many sources claim it was first "invented" by Leonardo Fibonacci. Would you be able
    to create a fibonacci sequence with vanilla JavaScript? see how here.
  </p>
  <a class="btn btn-success" href="/posts/617ac343503529701ebe1e5b">See code</a>
</section>
<hr>
<section class="welcome-challenge">
  <img class="blog-img" src="img/code.jpg" alt="hands typing on a PC with a lot of code in the screen">
  <h2>Why JS corner?</h2>
  <p class="challenge-date">24 Sep 2021</p>
  <p>Here is all you need to know about this blog, its purpose and why it was created</p>
  <a class="btn btn-success" href="/about">Read</a>
</section>
<%- include('partials/footer'); -%>
