<%- include('partials/header'); -%>

<h2> <%= postTitle %></h2>
<p class="whitespace"><%= postArticle %> </p>
<button class="btn btn-success" type="button" name="button" onclick="window.history.go(-1); return false;">Go back</button>
<%- include('partials/footer'); -%>
