body{
  min-width: 100%;
  background-color: #d6efc7;
}

p {
  font-size: 2.4rem;
  line-height: 40px;
}

/* header */
.container{
  width: 50%;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    background-color: #333;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-brand a {
  text-decoration: none;
  color:#fff;
}
.navbar-default .navbar-brand {
color:#fff;
cursor: pointer;
font-family: 'Major Mono Display', monospace;
}
.navbar-default .navbar-nav>li>a {
color: #fff;
}
.navbar-nav  li a:hover {
    color: #66BB6A !important;
}

/* home */

/* Footer */


.footer {
	position: absolute;
  top: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
	background-color: #333;
}

.footer p {
  text-align: center;
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
