body{
  min-width: 100%;
  background-color: #d6efc7;
}

h1{
  font-weight: 700;
}
h2{
  font-weight: 600;
}

p {
  font-size: 2.4rem;
  line-height: 40px;
}
.dinamic-container{
  min-height:900px;
}
/* header */
.container{
  width: 50%;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    background-color: #333;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 50px;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-brand a {
  text-decoration: none;
  color:#fff;
}
.navbar-default .navbar-brand {
color:#fff;
cursor: pointer;
font-family: 'Major Mono Display', monospace;
}
.navbar-default .navbar-nav>li>a {
color: #fff;
}
.navbar-nav  li a:hover {
    color: #66BB6A !important;
}

/* home */
.post-title{
  display: inline;
}
.date{
  font-size: 1.7rem;
}
hr {
  border: 0; border-top: 1px solid rgb(173, 173, 173);
  margin: 50px 0;
}
.post-hr{
  border: 0; border-top: 1px solid rgb(173, 173, 173);
  margin: 10px 0;
}
.new-post{
  margin: 50px 0;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #000000; 
  padding: 20px;
  background-color: #baec9d;
}

/* About */
.about-container{
 width: 90%;
}
.about-img{
 width: 100%;
 margin: auto;
 margin-bottom: 40px;
}
/* Footer */

.footer {
  margin-top: 50px;
  width: 100%;
	background-color: #333;
}

.footer p {
  text-align: center;
  margin-bottom: -10px;
	padding: 60px;
	font-size: 12px;
  color: #fff;
}
/* post */
.whitespace { 
  white-space: pre-wrap; 
}
.btn{
  margin-top: 30px;
 font-size: 1.8rem;
}

@media screen and (max-width: 1200px) {
  .container{
    width: 70%;
  }
  p {
    font-size: 2rem;
    line-height: 30px;
  }
}
@media screen and (max-width: 600px) {
  .container{
    width: 90%;
  }
}